*
{
padding: 0;
margin: 0;

}
body
{
    background-color: chocolate;
}
#divdata
{  
    color: white; 
    text-align: center;       
}
.table
{
    background-color: blanchedalmond;
    width: 100%;
    text-align: center;
    margin-bottom: 0%; 
}
#imagen
{
    width: 200px; 
    height: 200px;

}
#filalibro
{
   font-size: large;
   font-family: cursive;
   

}

#imgheader
{
    width: 100%; 
}
#infopagina
{
    text-align: center;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: chocolate;
    margin-bottom: 0px;
}
#footer
{
text-align: center;
color: white;
margin: 0;
}
#divfooter
{
margin: 0;
border-bottom: 3px solid black;
background-color: black;
}
#nav
{
    font-size: 120%;
    font-style: italic;
}
.nav-link
{
margin-right: 10px;
margin-left: 70px;
}

#formsearchbook
{

    font-size:170%;
    width: 500px;

}
.form-control
{
    font-size:50%;

}
.container
{
background-color: chocolate;
float: left;
width: 500px;
height: 235px;
}
.container-md
{
    text-align: center;
    background-color: chocolate;
    float: right;
    overflow-y:scroll;

    box-sizing: border-box;
    height:230px;
    width:600px;


}
.container-md table
{
 width: 100%;
margin-left: 0px;

      
}
.footer2
{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    display: block;
    font-size: 100%;
    
}
#imgsearchbook
{
    width: 150px;
    height: 235px;
    display: inline-block;
    margin-left: 90px;
    margin-right: 0px;

}
#btnsearch
{
font-size: large;
margin-left: 200px;
width: 100px;

}
#imagen2
{
    width: 100px; 
    height: 100px;
    margin-top: 10px;
}
