<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/templatestyle.css" />
    <link rel="stylesheet" href="../css/ordersstyle.css" />

    <title>Mis pedidos</title>
  </head>
  <body id="bodyorders">
    <header>
      <div class="row">
        <div class="container-fluid divtitle col-8">
          <img id="imgheader" src="../images/logo.jpg" />
        </div>

        <div class="divsidetitle col-2 text-center container-fluid">
          <h3 id="h3title" class="titlecliente pt-5 ml-5 pl-4">Bienvenido</h3>
        </div>
        <div class="col-2 text-center pt-3 mt-3">
          <button type="button" class="btn btn-info w-75">
            Ir a mi perfil
          </button>
          <button type="button" class="btn btn-danger w-75">
            Cerrar Sesión
          </button>
        </div>
      </div>
    </header>

    <div id="nav">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav topnav">
            <li class="nav-item active">
              <strong>
                <a class="nav-link" href="../index.html"
                  >Libros disponibles</a
                ></strong
              >
            </li>

            <li class="nav-item">
              <strong
                ><a class="nav-link active" href="orders.html"
                  >Ver mis pedidos</a
                ></strong
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div><h1 class="infopaginaorders">Mis pedidos</h1></div>

    <div class="row">
      <div class="col-6">
        <h2 class="orderstitle">Mis Alquileres</h2>
      </div>
      <div class="col-6"><h2 class="orderstitle">Mis Reservas</h2></div>
    </div>
       <!--LIMPIAR FLOTADOS-->
       <div class="clearfix"></div>
    <!-- Fin row -->
    <div class="row">
    <div class="col-5">
      <div id="articles-alquileres" >
        <!-- Articulos alquileres  -->
      </div>
    </div>

   

    <div class="col-5">
      <div id="articles-reservas">
        <!-- Articulos reservas  -->
      </div>
    </div>
  </div>
    <footer class="footer">
      <p>Municipalidad Carmen de Areco</p>
      <p>Copyright 2007-2020 by DigitalWebs. All Rights Reserved.</p>
    </footer>

    <script type="module" src="../js/main.js"></script>
    <script type="module" src="../js/LibroService.js"></script>
    <script type="module" src="../js/Constants.js"></script>
    <script type="module" src="../js/AlquilerService.js"></script>
    <script type="module" src="../js/ClienteService.js"></script>
  </body>
</html>
