.table {
  background-color: blanchedalmond;

  text-align: center;
  margin-bottom: 0%;
}

#filalibrosearchbook {
  border: 3px solid chocolate;
  font-size: large;
  font-family: cursive;
}

.table td,
.table th {
  vertical-align: middle;
}
#imagen {
  width: 130px;
  height: 130px;
}
.filalibroindex {
  font-size: x-large;
  font-family: cursive;
  padding-top: 80px;
  border: 3px solid chocolate;
}
.headfilaindex {
  font-size: x-large;
  font-family: cursive;
  border: 3px solid chocolate !important;
}

.btn-primary {
  width: 115px;
}

.form-control {
  font-size: 100%;
  width: 400px;
}
#titleform {
  font-size: 120%;
  margin-bottom: 20px;
  font-family: cursive;
}
#btnsearch {
  font-size: large;
  width: 100px;
}

/* Form Search Book */
#imgsearchbook {
  height: 235px;
  size: 80%;
  margin-left: 40px;
}
#formsearchbook {
  font-size: 150%;
  width: 30vw;
  margin-left: 15px;
}
.infopagina {
  display: block;
  text-align: center;
  font-size: 200%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: chocolate;
  margin-left: 14em;
}
