*
{
padding: 0;
margin: 0;
}

#divdata
{  
    color: white; 
    text-align: center;    
       
}
.table
{
    background-color: blanchedalmond;
    width: 100%;
    text-align: center;
    margin-bottom: 0%; 
    border: 3px solid chocolate;  
}
.table td, .table th
{
    vertical-align: middle;
}
#imagen
{
    width: 200px; 
    height: 200px;
}
.filalibroindex
{
   font-size: x-large;
   font-family: cursive;
   padding-top: 80px;
   border: 3px solid chocolate;
}
#filalibrosearchbook
{
    border: 3px solid chocolate;
    font-size: medium;
    font-family: cursive;

}
.headfilasearchbook
{
    font-size: large;
    font-family: cursive;
    padding-top: 10px;
    border: 3px solid chocolate;
}
.headfilaindex
{
    font-size: x-large;
    font-family: cursive;
    border: 3px solid chocolate;

}
.headfilaindex2
{
    font-size: x-large;
    font-family: cursive;
}
.btn 
{
    margin-left: 10px;
    margin-top: 100px;
}
/* Estilos del header */
header
{
    background-color: #343a40;
}
#imgheader
{ 
    width: 83vw; 
    height: 40vh;
}
.divtitle
{
    width: 83vw; 
    height: 40vh;
display: inline-block;

}
.divsidetitle
{
  float: right;
    background-color: #343a40;
    color: rgba(255,255,255,.5);
    width: 15vw;
    height: 40vh;
}
.divsidetitle h3
{
text-align: center;
padding-top: 50px;
}
#titlecliente
{
    font-size: 150%;
    font-family:  cursive;
}
/*                   */
#infopagina
{
    display: block;
    text-align: center;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: chocolate;
    margin-bottom: 0px;
}
.footer
{
text-align: center;
color: white;
margin: 0;
}
#divfooter
{

background-color: black;
height: 8vh;
margin: 0;



}
.footer p
{
    margin: 0;
    
}
#nav
{
    font-size: 160%;
    font-family: sans-serif;
}
.nav-link
{
    margin-left: 170px;
}
#formsearchbook
{
    font-size:170%;
    width: 500px;
}
.form-control
{
    font-size:50%;
}
/* Search Book */
.divsearch
{
    background-color: blanchedalmond;
}
.container
{
    background-color: blanchedalmond;
    float: left;
    width: 38vw;
    height: 38vh;
    margin-top: 40px;
}
#formsearchbook
{
    width: 40vw;
    
}
.container-md
{
    text-align: center;
    background-color: blanchedalmond;
    float: right;
    overflow-y:scroll;
    box-sizing: border-box;
    height:45vh;
    width:41vw;
}
.container-md table
{
    width: 100%;
    margin-left: 0px;   
    border: 3px solid chocolate; 
}
#imgsearchbook
{
    height: 235px;
    size: 80%;
    margin-left: 40px;
    margin-top: 40px;
    display: inline-block;
    margin-right: 0px;
}
#divimgsearch
{
    background-color: blanchedalmond;
    display: inline-block;
    width: 18vw;
    height: 45vh;

}
#btnsearch
{
    font-size: large;
    margin-left: 200px;
    width: 100px;
}
/*                 */

#imagen2
{
    width: 100px; 
    height: 100px;
    margin-top: 10px;
}

/* Page Orders */
#container-orders
{
    background-color: blanchedalmond;
    display: inline-block;
    height: 400px;
    width: 48%;
    float: left;
    margin-left: 20px;
    overflow-y: auto;
    
}
#container-md-orders
{
    display: inline-block;
    height: 400px;
    width: 48%;
    background-color: blanchedalmond;
    float: right;
    margin-right: 20px;
    overflow-y:auto;
    
}
#container-medium
{
    width:1%;
    height: 400px;
    display: inline-block;
}
.orderstitle
{
text-align: center;
margin-top: 20px;

}

.tableordersalquiler
{
   width: 95%;
   margin-left: 20px;
   border: 3px solid chocolate;
}
.tableordersreserva
{
    width: 95%;
    margin-left: 20px;
    border: 3px solid chocolate;
}
.headfilaordersreserva
{
    font-size: large;
    font-family: cursive;
    padding-top: 10px;
    text-align: center;
    border: 3px solid chocolate;

}
.headfilaordersalquiler
{
    font-size: large;
    font-family: cursive;
    padding-top: 10px;
    text-align: center;
    border: 3px solid chocolate;
    


}
.filalibroordersalquiler
{
    font-size: medium;
    font-family: cursive;
    padding-top: 30px;
    text-align: center;
    border: 3px solid chocolate;

    
}
.filalibroordersreserva
{
    font-size: medium;
    font-family: cursive;
    padding-top: 20px;
    text-align: center;
    border: 3px solid chocolate;


}
#imagenorder
{
    height: 235px;
    size: 80%;
    margin-left: 40px;
    margin-top: 40px;
    display: inline-block;
    margin-right: 0px;
}



#bodyorders
{
background-color: chocolate;


}