*
{
padding: 0;
margin: 0;
}

#divdata
{  
    color: white; 
    text-align: center;       
}
.table
{
    background-color: blanchedalmond;
    width: 100%;
    text-align: center;
    margin-bottom: 0%; 
}
#imagen
{
    width: 200px; 
    height: 200px;

}
.filalibroindex
{
   font-size: larger;
   font-family: cursive;
   padding-top: 80px;

   
}
#filalibrosearchbook
{

    font-size: medium;
    font-family: cursive;

}
.headfilasearchbook
{
    font-size: medium;
    font-family: cursive;

}
.headfilaindex
{
    font-size: large;
    font-family: cursive;
}
.btn 
{
    margin-left: 10px;
    margin-top: 100px;
}
/* Estilos del header */
header
{
    background-color: #343a40;
}
#imgheader
{ 
    width: 83vw; 
    height: 40vh;
}
.divtitle
{
    width: 83vw; 
    height: 40vh;
display: inline-block;

}
.divsidetitle
{
  float: right;
    background-color: #343a40;
    color: rgba(255,255,255,.5);
    width: 15vw;
    height: 40vh;
}
.divsidetitle h3
{
text-align: center;
padding-top: 50px;
}
#titlecliente
{
    font-style: italic;

}


/*                   */



#infopagina
{
    display: block;
    text-align: center;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: chocolate;
    margin-bottom: 0px;
}
.footer
{
text-align: center;
color: white;
margin: 0;
}
#divfooter
{

background-color: black;
height: 7vh;
}
.footer p
{
    margin: 0;
    
}
#nav
{
    font-size: 120%;
    font-style: italic;
}
.nav-link
{
margin-right: 10px;
margin-left: 70px;
}

#formsearchbook
{

    font-size:170%;
    width: 500px;

}
.form-control
{
    font-size:50%;

}
/* Search Book */
.divsearch
{
    background-color: chocolate;
}

.container
{
background-color: chocolate;
float: left;
width: 38vw;
height: 38vh;
}
#formsearchbook
{
    width: 40vw;
}
.container-md
{
    text-align: center;
    background-color: chocolate;
    float: right;
    overflow-y:scroll;

    box-sizing: border-box;
    height:38vh;
    width:41vw;


}
.container-md table
{
 width: 100%;
margin-left: 0px;    

}
#imgsearchbook
{
    height: 235px;
    size: 80%;
    margin-left: 40px;
    display: inline-block;

    margin-right: 0px;
}
#divimgsearch
{
background-color: chocolate;
display: inline-block;
width: 18vw;
height: 38vh;

}
#btnsearch
{
font-size: large;
margin-left: 200px;
width: 100px;
}
/*                 */

#imagen2
{
    width: 100px; 
    height: 100px;
    margin-top: 10px;
}
