/*              Header                   */
header {
  background-color: #343a40;
}
#imgheader {
  width: 70vw;
  height: 30vh;
}

.titlecliente {
  font-size: 150%;
  font-family: cursive;
  color: rgba(255, 255, 255, 0.5);
}

/*              Estilo titulo del body          */
.infopagina {
  display: block;
  text-align: center;
  font-size: 200%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: chocolate;
  margin-bottom: 0px;
}
.btn {
  margin-top: 12px;

}

/*           Barra de navegacion                     */
#nav {
  font-size: 160%;
  font-family: sans-serif;
}
.nav-link {
  margin-left: 170px;
}

/*                  Footer                           */

#divfooter {
  background-color: black;
  height: 8vh;
  margin: 0;
}
.footer {
  text-align: center;
  color: white;
  margin: 0;
}
.footer p {
  margin: 0;
}
