/*              Header                   */
header {
  background-color: #343a40;
}
#imgheader {
  width: 70vw;
  height: 30vh;
}

.titlecliente {
  font-size: 150%;
  font-family: cursive;
  color: rgba(255, 255, 255, 0.5);
}

/*              Estilo de botones          */
.btn {
  margin-top: 12px;
}

/*           Barra de navegacion                     */
#nav {
  font-size: 160%;
  font-family: sans-serif;
}
.nav-link {
  margin-left: 170px;
}

/*                  Footer                           */

#divfooter {
  background-color: black;
  height: 8vh;
  margin: 0;
}
.footer {
  text-align: center;
  color: white;
  margin: 0;
}
.footer p {
  margin: 0;
}
/* Estilos del navbar */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid chocolate;
}

.topnav a.active {
  border-bottom: 3px solid chocolate;
}

body {
  overflow-x: hidden;
  background-color: rgb(211, 93, 9);
}
